/* Enter your custom styles here */
.sapMIBar.sapMHeader-CTX {
  color: #32363a;
  background-color: #d9d9d9;
  filter: none;
  background-image: none;
}

.sapMFlexBoxBGTransparent {
  background-color: cadetblue;
}

.sapUiSizeCompact .sapMPageWithHeader>section {
  top: 2.5
rem
;
  background-color: #93c2c4;
}

.sapMGT {
  display: inline-block;
  text-decoration: none;
  border-radius: 0.25
rem
;
  position: relative;
  outline: none;
  box-sizing: border-box;
  background-position: 0
px
;
  background: #e1dfdf;
  border: 1
px
solid transparent;
  box-shadow: 0 0 0 0.0625rem rgb(0 0 0 / 10%), 0 0.125rem 0.5rem 0 rgb(0 0 0 / 10%);
  vertical-align: top;
}